<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>139437726878-v6h62fatp31iogqgj3e7bcu82fojmrml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.139437726878-v6h62fatp31iogqgj3e7bcu82fojmrml</string>
	<key>API_KEY</key>
	<string>AIzaSyB96Jw3u7huBjb8NBDQsktLAIxm7nxgymc</string>
	<key>GCM_SENDER_ID</key>
	<string>139437726878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mybait</string>
	<key>PROJECT_ID</key>
	<string>mybait-95d70</string>
	<key>STORAGE_BUCKET</key>
	<string>mybait-95d70.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139437726878:ios:d45fd16c854a622503af8f</string>
</dict>
</plist>